$font-color: #6a6a6a;
$font-hover-color: #212121;

.dashboard {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 30px 0px;
    &.active {
        .name {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    .name {
        opacity: 0;
        transform: translateY(-10px);
        span {
            color: $font-color;
            display: block;
            font-size: 1.5em;
            margin: 12px auto;
            transition: all 0.25s ease-in-out;
            cursor: pointer;
            &:hover {
                color: $font-hover-color;
                transform: scale(1.2);
            }
        }
    }
}